# Leiningen
classes/
lib/
native/
checkouts/
target/
.lein-*
repl-port
.nrepl-port
.repl

# Back-End
pom.xml
pom.xml.asc
*jar
*.class

# Front-End
resources/public/js/compiled/
front-end/*-init.clj
front-end/*.log
node_modules/
.shadow-cljs/

# Sass
resources/public/vendor/css/style.min.css
resources/public/vendor/css/style.min.css.map

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS X
.DS_Store

# Logging
*.log
/logs/

# Builds
out/
build/

# Antlr
src/java/grammar/expr/*.interp
src/java/grammar/expr/*.tokens
src/java/grammar/expr/*.java
src/java/grammar/expr/*.class

# Docs
docs

# Deploy
.fandogh
